.contact-inner {
  width: 100%;
  padding: 40px;
  margin-bottom: 30vh;
}

.contact-tabs {
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(31, 46, 93, 0.15);
  border-radius: 25px;
  padding: 50px;
  height: 600px;
  overflow: hidden;
}

.contact-tabs-btns {
  @include flex(center, center, row);
  gap: 20px;
  margin-bottom: 30px;
}

.contact-tabs-btn {
  padding: 5px 16px;
  border: 2px solid $secondary;
  color: $secondary;
  background: #fff;
  cursor: pointer;
  font-size: $link;
  font-weight: 400;
  @include flex(center, center, row);
}

.active-contact-tabs-btn {
  background: $secondary;
  color: #fff;
}

.take-tab {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.give-tab {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.take-tab,
.give-tab {
  @include flex(flex-start, center, row);
  width: 100%;
  gap: 50px;
}

.take-tab-text,
.give-tab-text {
  @include flex(flex-start, center, column);
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
  h2 {
    color: $primary;
    font-size: $header;
    font-weight: bold;
  }
  p {
    color: $text-color;
    font-size: $text;
  }
  a {
    @include flex(center, center, row);
    gap: 10px;
    text-decoration: none;
    color: $primary;
    font-size: $link;
    font-weight: bold;
    .fa-solid {
      color: $secondary;
    }
  }
}

.tab-form {
  width: 100%;
  @include flex(flex-start, center, column);
  gap: 15px;
  font-size: $text;
  button {
    font-size: $link;
    width: 100%;
    background: $secondary;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
  }
}

.tab-form-input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  @include flex(center, space-between, row);
  width: 100%;
  border-radius: 10px;
  height: 49.63px;
  input {
    border: none;
    width: 100%;
    outline: none;
    color: $text-color;
    height: 100%;
    font-size: $text;
    font-weight: 600;
  }
  img {
    width: 20px;
    height: 20px;
    fill: #000;
  }
}

.select-options {
  @include flex(flex-start, center, column);
  color: $text-color;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  gap: 10px;

  .radio-btn {
    padding-left: 20px;
  }
}

// custom radio btn
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #000;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  // border: 1px solid #ddd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  background: #fff;
  @include flex(center, center, row);
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: $secondary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  @include flex(center, center, row);
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

// custom select
.custom-select {
  position: relative;
  font-family: Poppins;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
}

.select-selected-bottom-rounded {
  border-radius: 10px 10px 10px 10px;
}

.select-selected-bottom-square {
  border-radius: 10px 10px 0px 0px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $text-color transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $text-color transparent;
  top: 40%;
}

/*set the styling and height for the list when the select box is open (active), the overflow-y property controls the scrolling:*/
.select-items {
  border-radius: 0px 0px 10px 10px;
  height: 222px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: $text-color;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
  color: $text-color;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* scrollbar width */
.select-items::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.select-items::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0px 0px 10px 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* scrollbar handle */
.select-items::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px; /* optional rounded handle */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* scrollbar handle on hover */
.select-items::-webkit-scrollbar-thumb:hover {
  background: $primary;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

@media screen and (max-width: 1100px) {
  .take-tab-text,
  .give-tab-text {
    width: 100%;
    margin-bottom: 20px;
    h2 {
      font-size: calc($header - 7px);
    }
    p {
      font-size: calc($text - 3px);
    }
  }
  .tab-form {
    gap: 15px;
    font-size: calc($text - 3px);
  }
}

@media screen and (max-width: 900px) {
  .contact-tabs {
    padding: 50px;
    height: 750px;
  }
  .contact-tabs-btns {
    margin-bottom: 10px;
  }
  .contact-tabs-btn {
    font-size: calc($link - 4px);
  }
  .take-tab,
  .give-tab {
    @include flex(flex-start, center, column);
    width: 100%;
    gap: 30px;
  }
  .tab-form {
    button {
      font-size: calc($link - 4px);
    }
  }
}

@media screen and (max-width: 500px) {
  .contact-inner {
    padding: 10px;
  }
  .contact-tabs {
    padding: 20px;
    height: 750px;
  }
  .contact-tabs-btn {
    margin-bottom: 0px;
    padding: 5px 8px;
  }
}
